.outer-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 50px;
    padding: 0rem 20rem;
    border: 1px solid black;
    border-radius: 15px;
    height: 80vh;
    width: 100%;
}

@media (max-width: 1000px) {
    .outer-container {
        padding: 0rem 5rem;
    }
}

@media (max-width: 1200px) {
    .outer-container {
        padding: 0rem 10rem;
    }
}

.header {
    margin-top: 2rem;
}

.no-data-text {
    text-align: center;
    margin-top: 10rem;
}